# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual envs
.venv/
venv/

# macOS
.DS_Store

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*

# Kubernetes
k8s/.kubeconfig

# Model artifacts (do not commit real models)
prediction_service/models/*.pkl


